<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaussian Solutions' GSA Challenge Submission</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    
    <script src={{ url_for('static', filename='js/analyze.js') }}></script>  
    <link rel="stylesheet" href= {{ url_for('static', filename='css/main.css') }}>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">

            <img src="{{ url_for('static', filename='assets/gaussian_logo013.jpg') }}" width="400" class="d-inline-block align-top" alt="" loading="lazy">
            <span style="font-size:2em; padding: 2px;"> GSA Challenge </span>    
        </a>

    </nav>
</head>
<body>
    
    {% block body %}
    //content will be here
    {% endblock %}
    <footer class="footer" style="position:fixed;bottom:0px">Copyright (c) Gaussian Solutions </footer>

</body>
</html>