
.clausecontainer {
    width: 90%;
    margin-left: 2%; 
}

.clause-row {
    padding-left: 20px;
    display: flex;
    padding-bottom: 20px;
}

.clause {
    width: 80%;
    color: blue;
}

.label {
    width: 10%;
}

.label-green{
    color:green;
    font-weight:bold;
}
.label-red{
    color: red;
    font-weight: bold;
}

.confidence {
    width: 10%;
}

.analysis {
    font-size: 1.5em;
}
